// app global css in SCSS form
.container {
  max-width: 1200px;
  width: 100%;
}

body {
  @extend .fn-md;
  background-color: $dark;
}

.fn-xl {
  font-size: 24pt;
}
.fn-lg {
  font-size: 20pt;
}
.fn-md {
  font-size: 12pt;
}

.fn-bold {
  font-weight: bold;
}
.fn-link {
  text-decoration: none;
}
.fn-link:hover {
  text-decoration: underline;
}
