// app global css in SCSS form
.container {
  max-width: 1200px;
  width: 100%;
}

body {
  @extend .fn-md;
  background-color: $dark;
}
.fn-xxl {
  font-size: 32pt;
}
.fn-xl {
  font-size: 24pt;
}
.fn-lg {
  font-size: 20pt;
}
.fn-md {
  font-size: 12pt;
}

.fn-sm {
  font-size: 10pt;
}

.fn-bold {
  font-weight: bold;
}
.fn-link {
  text-decoration: none;
  color: inherit;
}
.fn-link:hover {
  text-decoration: underline;
}
.fn-thin {
  font-weight: 400;
}

h3 {
  line-height: 20pt;
}
